<h1>Angular Custom Components </h1>
<br>
<div class="example-menu" cdkMenu>
    <button class="example-menu-item" cdkMenuItem routerLink="/custominput" routerLinkActive="active"
        ariaCurrentWhenActive="page">
        Custom Input</button>
    <button class="example-menu-item" cdkMenuItem routerLink="/signal" routerLinkActive="active"
        ariaCurrentWhenActive="page">Image Uploader</button>
    <button class="example-menu-item" cdkMenuItem routerLink="/chat" routerLinkActive="active"
        ariaCurrentWhenActive="page">Chat</button>
    <button class="example-menu-item" cdkMenuItem routerLink="/table" routerLinkActive="active"
        ariaCurrentWhenActive="page">All In One Table</button>
    <button class="example-menu-item" cdkMenuItem routerLink="/add" routerLinkActive="active"
        ariaCurrentWhenActive="page">Add Field</button>
    <!-- <button class="example-menu-item" cdkMenuItem>All Mail</button> -->
</div>