<div></div>
<br><br>
<br>
<br>


<div class="container">
    <h1>{{'Custom Input Validation Example' | toLowerCase}}</h1>
    <form [formGroup]="form">
        <app-custom-validate label="Custom Input" [pattern]="spacepattern" [required]="true" [minlength]="5"
            [maxlength]="20" error_message="please provide the name" placeholder="Custom Input"
            [control]="form.get('customInputControl')">
        </app-custom-validate>

        <app-custom-validate type="number" label="number" [required]="true" [maxlength]="10" [pattern]="mobilepattern"
            error_message="please provide the number" placeholder="Custom number"
            [control]="form.get('customnumberControl')">
        </app-custom-validate>

        <app-custom-validate type="password" label="password" [required]="true" [minlength]="5" [maxlength]=" 50"
            [pattern]="pwdPattern" error_message="please provide the password" placeholder="Custom password"
            [control]="form.get('custompasswordControl')">
        </app-custom-validate>

        <app-custom-validate type="email" label="email" [minlength]="5" [maxlength]="50" [required]="true"
            [pattern]="emailpattern" error_message="please provide the Email" placeholder="Custom Email"
            [control]="form.get('customemailControl')">

        </app-custom-validate>

        <app-custom-validate type="date" [required]="true" [maxlength]="50" [control]="form.get('date')"
            error_message="please provide the date">
        </app-custom-validate>

        <app-custom-validate type="time" [required]="true" [maxlength]="50" [control]="form.get('time')"
            error_message="please provide the Time">
        </app-custom-validate>
        <app-custom-validate type="cdkDropList">
        </app-custom-validate>

    </form>
</div>

<h1>Google Login</h1>
<asl-google-signin-button type='icon' size='medium'></asl-google-signin-button>
<br>
<button class="btn btn-social-icon btn-linkedin" (click)="loginWithLinkedIn()"><i
        class="fa fa-linkedin linkedin-icon"></i>
</button>
<br>
<br>
<button class="btn btn-social-icon btn-facebook" mat-raised-button color="primary" (click)="signInWithFB()"><span
        class="fa fa-facebook"></span></button>
<div>
    <br>
    <br>
    <!-- <form [formGroup]="dateRangeForm">
    <mat-form-field class="ml-10" class="input-with-spacing">
      <input matInput formControlName="fromDate" placeholder="From Date" (dateChange)="onFromDateChange($event)"
        [matDatepicker]="fromDatePicker">
      <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #fromDatePicker></mat-datepicker>
      <mat-error *ngIf="dateRangeForm.get('fromDate')?.hasError('required')">From Date is required</mat-error>
    </mat-form-field>

    <mat-form-field class="input-with-spacing">
      <input matInput formControlName="toDate" placeholder="To Date" (dateChange)="onToDateChange($event)"
        [matDatepicker]="toDatePicker">
      <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #toDatePicker></mat-datepicker>
      <mat-error *ngIf="dateRangeForm.get('toDate')?.hasError('required')">To Date is required</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="submitForm()">Submit</button>
  </form> -->
</div>